* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

input {
  all: unset;
}

input:focus {
  outline: none;
  border: none;
}

.hide {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.timer {
  border-bottom: 1px solid grey;
}

.timer-top {
  border-bottom: 1px solid grey;
}

.total-time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.timer-btm {
  min-height: calc(100vh - 40px - 40px);
}

.timer-list {
  overflow-y: scroll;
}

.timer-form {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-form input {
  background-color: antiquewhite;
}

@media screen and (min-width: 768px) {
  .hide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    z-index: 1;
  }

  .hide span {
    font-size: 40px;
  }
}
